<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="text-muted text-center text-small" th:fragment="footer">
    <p class="mb-1">© 2017-2018 知科技未来科技有限公司</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="http://www.baidu.com">百度</a></li>
        <li class="list-inline-item"><a href="http://www.alibaba.com">阿里巴巴</a></li>
        <li class="list-inline-item"><a href="http://www.jd.com">京东</a></li>
    </ul>
</footer>
</body>
</html>